Repository shibavik2025/mcp-server-client-poc: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-dependencies-check, pylint, mypy

python-safety-dependencies-check:
  name: safety
  entry: safety
  args:
  - check
  - --short-report
  - --file
  language: system

pylint:
  args:
  - -rn
  - -sn
  - --min-similarity-lines=8
  - --ignore-comments=y
  - --ignore-docstrings=y
  - --ignore-imports=y
  entry: pylint
  language: system
  name: pylint
  require_serial: true

mypy:
  stages:
  - pre-commit
  name: mypy
  entry: mypy
  language: system
  require_serial: true

added crud file
  logs/error.log
  logs/info.2025-06-10_13-32-32_902369.log
  logs/info.log
  src/__pycache__/main.cpython-313.pyc
  src/client/mcp_client.py
  src/main.py
  src/middleware/__pycache__/jwt_bearer.cpython-313.pyc
  src/middleware/jwt_bearer.py
  src/tools/__pycache__/registration.cpython-313.pyc
  src/tools/impl/CRUD_tools.py
  src/tools/impl/__pycache__/CRUD_tools.cpython-313.pyc
  src/tools/impl/__pycache__/example_tool.cpython-313.pyc
  src/tools/impl/__pycache__/inventory_tools.cpython-313.pyc
  src/tools/impl/data/inventory.xlsx
  src/tools/impl/data/retails-mockdata.json
  src/tools/impl/example_tool.py
  src/tools/impl/inventory_tools.py
  src/tools/impl/retail_tools.py
  src/tools/registration.py
Due: pylint, mypy

removed unused import
  logs/info.log
  src/tools/__pycache__/registration.cpython-313.pyc
  src/tools/registration.py
Due: pylint, mypy

removed token
  logs/info.log
  src/tools/impl/__pycache__/example_tool.cpython-313.pyc
  src/tools/impl/example_tool.py
Due: pylint, mypy

Added mcp client
  logs/info.2025-06-11_17-29-56_342746.log
  logs/info.log
  src/__pycache__/main.cpython-313.pyc
  src/client/mcp_client_1.py
  src/main.py
  src/server/__pycache__/server.cpython-313.pyc
  src/server/server.py
  src/tools/__pycache__/registration.cpython-313.pyc
  src/tools/impl/CRUD_tools.py
  src/tools/impl/__pycache__/CRUD_tools.cpython-313.pyc
  src/tools/registration.py
Due: pylint, mypy

Initial commit
  .gitignore
Due: none

Remove tracked files that are now in .gitignore
  .pytest_cache/CACHEDIR.TAG
  .pytest_cache/README.md
  .pytest_cache/v/cache/nodeids
  .pytest_cache/v/cache/stepwise
  htmlcov/class_index.html
  htmlcov/coverage_html_cb_6fb7b396.js
  htmlcov/favicon_32_cb_58284776.png
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/keybd_closed_cb_ce680311.png
  htmlcov/status.json
  htmlcov/style_cb_8e611ae1.css
  htmlcov/z_0618756b1ff51bca___init___py.html
  htmlcov/z_0618756b1ff51bca_config_py.html
  htmlcov/z_0618756b1ff51bca_logger_py.html
  htmlcov/z_145eef247bfb46b6___init___py.html
  htmlcov/z_145eef247bfb46b6_main_py.html
  htmlcov/z_2804e40980a64c7d___init___py.html
  htmlcov/z_2804e40980a64c7d_server_py.html
  htmlcov/z_652c2a627971f736_jwt_bearer_py.html
  htmlcov/z_9941ded6d139044f_example_tool_py.html
  htmlcov/z_dd4b322c5e9a5c17_example_tool_py.html
  htmlcov/z_dd4b322c5e9a5c17_version_py.html
  htmlcov/z_de05559f4338c853_registration_py.html
  htmlcov/z_f1b38b22aeb65474___init___py.html
  htmlcov/z_f1b38b22aeb65474_auth_py.html
  htmlcov/z_f1b38b22aeb65474_ent_headers_py.html
  htmlcov/z_f6289f8b1be60a9f_base_py.html
  logs/error.2025-06-06_12-04-21_514682.log
  logs/error.2025-06-08_07-25-18_000000.log
  logs/error.log
  logs/info.2025-06-06_12-04-21_507898.log
  logs/info.2025-06-08_07-25-18_000000.log
  logs/info.2025-06-10_13-32-32_902369.log
  logs/info.2025-06-11_17-29-56_342746.log
  logs/info.log
Due: none

updated gitignore
  .gitignore
Due: none

added excel file as data input
  src/client/mcp_client.py
  src/client/mcp_client_1.py
  src/tools/__pycache__/registration.cpython-313.pyc
  src/tools/impl/__pycache__/inventory_tools.cpython-313.pyc
  src/tools/impl/inventory_tools.py
  src/tools/registration.py
Due: pylint, mypy

Add pandas to project dependencies
  pyproject.toml
Due: python-safety-dependencies-check

Path conditions:
  python-safety-dependencies-check: any of: pyproject.toml
  pylint: any of: \.py$
  mypy: any of: \.py$
